[submodule "fluent-emojis"]
	path = fluent-emojis
	url = https://github.com/misskey-dev/emojis.git
[submodule "tossface-emojis"]
	path = tossface-emojis
	url = https://activitypub.software/TransFem-org/tossface-emojis.git
