@font-face {
  font-family: "GenRyuMin2 TC R";
  font-display: swap;
  src:  local("GenRyuMin2 TC R"),
        url("/static-assets/fonts/GenRyuMin/GenRyuMin2TC-R.woff2") format("woff2");
}

html.default-font-genryomin2 {
	font-family: 'sharkey-theme-font-face', "GenRyuMin2 TC R", "Times New Roman", Times, serif
}
