html.default-font-sharkey-default {
	font-family: 'sharkey-theme-font-face', 'Lexend', 'Hiragino Maru Gothic Pro', "BIZ UDGothic", Roboto, HelveticaNeue, Arial, sans-serif;
}

html.default-font-system-ui {
	font-family: system-ui;
}

html.default-font-misskey-biz {
	font-family: 'sharkey-theme-font-face', "BIZ UDGothic", Roboto, HelveticaNeue, Arial, sans-serif;
}

html.default-font-roboto {
	font-family: 'sharkey-theme-font-face', Roboto, Arial, sans-serif;
}

html.default-font-arial {
	font-family: 'sharkey-theme-font-face', Arial, sans-serif;
}

html.default-font-times {
	font-family: 'sharkey-theme-font-face', 'Times New Roman', Times, serif;
}
