# misskey settings

# if you uncomment the assignment to `MISSKEY_URL`, the value will
# override the `url` setting in the `default.yml` Sharkey config file

# MISSKEY_URL=https://example.tld/

# db settings

# if you change any of these values, you need to either make the same
# changes in the `default.yml` Sharkey config file, or un-comment the
# assignments to the three variables `DATABASE_…` (they will override
# the settings from the `default.yml` config file for Sharkey)

POSTGRES_PASSWORD=example-misskey-pass
# DATABASE_PASSWORD=${POSTGRES_PASSWORD}
POSTGRES_USER=example-misskey-user
# DATABASE_USER=${POSTGRES_USER}
POSTGRES_DB=misskey
# DATABASE_DB=${POSTGRES_DB}
